################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CMInventario/v15/Server/sqlite3
/Inventario/bin
*.lock
/.vs/CMInventario/v16/Server/sqlite3
