<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
  <appSettings>
    <add key="LoadClients" value="SELECT clientes.codigo, 
                                  clientes.nombre_comercial 
                                  FROM operativo.clientes 
                                  WHERE estatus = 226522 
                                  Order by 2"/>
    <add key="LoadLocations" value="select 
	                    COALESCE(Ub.cod_padre,0),
	                    COALESCE(Ub.nom_padre,''),
	                    COALESCE(Sub.codigo, 0),
	                    COALESCE(Sub.nombre,''), 
	                    COALESCE(Ub.cod_cliente,0)   
	                    from  general.v_catalogo_ubicacion as Ub
	                    inner join general.v_catalogo_sub_ubicacion AS Sub ON Ub.cod_padre = Sub.cod_padre
                      "/>
    <add key="LoadInventoryType" value="SELECT 
                    codigo,nombre,cod_padre FROM general.v_catalogo_tree
                    WHERE cod_padre IN (85541, 85018, 85047, 84944, 85118, 85596, 85709, 86209, 86590, 86643, 86010, 88053, 92990, 112870)
                    "/>    
<add key="LoadInventory" value="Select                    
                    COALESCE(cod_cliente,0),
                    COALESCE(cliente_nombre_comercial,''),
                    COALESCE(cod_ubicacion,0),
                    COALESCE(ubicacion_nombre,''),
                    COALESCE(cod_sub_ubicacion,0),
                    COALESCE(sub_ubicacion_nombre,''),                    
                    COALESCE(cod_tipo_activo,0),
                    COALESCE(tipo_activo_nombre,''),
                    COALESCE(cod_marca,0),
                    COALESCE(marca_nombre,''),
                    COALESCE(0,0),
                    COALESCE(modelo,''),
                    COALESCE(0,0),
                    COALESCE(serie,''),
                    COALESCE(estatus,0),
                    COALESCE(estatus_nombre,''),
                    COALESCE(cod_pertenencia,0),
                    COALESCE(pertenencia_nombre,''),
                    COALESCE(cod_categoria,0)
                    From operativo.v_inventario_ext"/>
    <add key="LoadInventoryStatus" value="Select
                                    COALESCE(codigo,0),
                                    COALESCE(nombre,''),
                                    COALESCE(cod_padre,0)
                                  from general.v_catalogo_master 
                                  where estatus = 1 And codcat In ('INV_ESTADO')"/>
    <add key="LoadBelong" value="Select
                                    COALESCE(codigo,0),
                                    COALESCE(nombre,'')
                                from general.v_catalogo_master 
                                where estatus = 1 And codcat In ('PERTENENCIA')"/>
    
    
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
